@model CarRental.Models.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}

<h2>Twoje dane</h2>

<table style="border-collapse: collapse; width: 60%;">
    <tr>
        <td style="padding:5px; border:1px solid #ccc;">Nazwa użytkownika:</td>
        <td style="padding:5px; border:1px solid #ccc;">@Model.UserName</td>
    </tr>
    <tr>
        <td style="padding:5px; border:1px solid #ccc;">Pełna nazwa:</td>
        <td style="padding:5px; border:1px solid #ccc;">@Model.FullName</td>
    </tr>
    <tr>
        <td style="padding:5px; border:1px solid #ccc;">Email:</td>
        <td style="padding:5px; border:1px solid #ccc;">@Model.Email</td>
    </tr>
    <tr>
        <td style="padding:5px; border:1px solid #ccc;">Role:</td>
        <td style="padding:5px; border:1px solid #ccc;">@Model.Roles</td>
    </tr>
    <tr>
        <td style="padding:5px; border:1px solid #ccc;">Status konta:</td>
        <td style="padding:5px; border:1px solid #ccc;">@Model.LockoutEnd</td>
    </tr>
    <tr>
        <td style="padding:5px; border:1px solid #ccc;">Czy hasło zmienione:</td>
        <td style="padding:5px; border:1px solid #ccc;">@(Model.PasswordChanged ? "Tak" : "Nie")</td>
    </tr>
</table>

<br />

<a asp-controller="Account" asp-action="ChangePassword" style="color:#007bff;">Zmień hasło</a>
